<!-- footer content -->
<footer>
    <div class="pull-right">
        Easy Cash Template by <a href="https://bakitchy.com">B A K I</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->