<!-- footer content -->
<footer>
    <div class="pull-right">
        Easy Cash Musteri Paneli <a href="https://bakitchy.com">BAKITCHY</a>
        <span>@DateTime.Now.Year</span>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->